*,
*::before,
*::after {    
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
}

#app {
    width: 600px;
    padding: 20px;

}
#form-row {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 30px;
     padding: 5px 30px;
}
form {
      max-width: 500px;
      min-width: 300px;
      margin: 10px;
    padding-bottom: 2px;
  }

 fieldset {
     border: none;
     padding: 2px  0;
 }

 label {
    display: block;
    margin-bottom: 5px;
}
input {
    width: 50%;
    min-height: 2rem;
}
#btn {
    display: flex;
    justify-content: flex-end;
    padding-right: 120px;
}

#submit-btn {
    padding: 15px;
    background-color: rgb(183, 24, 24);
    border: none;
    color: white;
    margin-top: 10px;
}
